FEM-SIMULATION/.vs
FEM-SIMULATION/FEM-SIMULATION/x64
*.zip
FEM-SIMULATION/x64/Debug/*.exe
FEM-SIMULATION/x64/Debug/*.ilk
FEM-SIMULATION/x64/Debug/*.pdb
FEM-SIMULATION/x64/Release/*.exe
FEM-SIMULATION/x64/Release/*.ilk
FEM-SIMULATION/x64/Release/*.pdb